{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Symbol</th>
              <th>Shares</th>
              <th>Price</th>
              <th>Transacted</th>
          </tr>
      </thead>
      <tbody>
          {% for item in items %}
              <tr>
                  <th>{{ item["symbol"] }}</th>
                  <th>{{ item["numberofshares"] }}</th>
                  <th>{{ item["price"] | usd }}</th>
                  <th>{{ item["time"] }}</th>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
